* {
  font-family: "Lato",sans-serif;
}

body {
  text-align: center;
}

/* The below css is for Header */

.my_header {
  border-bottom: 4px solid #7d79ad;
  margin: 20px 0 20px;
}

.logo {
  padding-top: 20px;
}

.logo img {
  max-width: 120px;
}

.headertxt {
  text-transform: uppercase;
  color: #2d3c49;
  float: right;
}

@media (max-width: 48em) {
  .headertxt, .logo{
    text-align: center;
  }

  .headertxt h1 {
    font-size: 3em;
    font-weight: 100;
    margin-bottom: 0;
  }

  .headertxt h3 {
    font-weight: 400;
    margin-top: 0.5em;
  }
}

@media (min-width: 48em) { 
 .headertxt {
    text-align: right;
  }

 .logo {
    text-align: left;
  }

 .headertxt h1 {
    font-size: 3em;
    font-weight: 100;
    margin-bottom: 0;
  }

 .headertxt h3 {
    font-weight: 400;
    margin-top: 0.5em;
  }
}

/* Banner image styles */
main img {
  width: 100%;
}

/*  The below css is for Footer  */
footer h2 {
  text-align: left;
  font-size: 30px;
  font-weight: 400;
  color: #7d97ad;
}

footer a {
  color: #2d3c49;
  text-decoration: none;
}

article img {
  width: 100%;
}
